#home, #events, #contact, #about{
color: #607bacc5;
}

#events-heading{
    font-size: 80px;
    text-align: center;
    box-shadow: 12px 12px 2px 1px;
    padding-bottom: 15px;
}

#events-p{
    color: black;
}

#about-p{
    color: black;
    padding: 250px;
}

#about-heading{
    font-size: 80px;
    text-align: center;
    box-shadow: 12px 12px 2px 1px;
    padding-bottom: 15px;

}
#home-heading{
    font-size: 80px;
    text-align: center;
    font-family: Apple Chancery, cursive;
    box-shadow: 12px 12px 2px 1px;
    padding-right: 15px;

}
#event-img{
    padding: 15px;
    width: 350px;
    height: 295px;
}
#about-photo{
    height: 300px;
    width: 300px;
    padding-left: 300px;
  }
  #about-h3{
    padding-left: 300px;
  }
  #home-img{
    height: 300px;
    padding-left: 55px;
    padding-top: 50px;
     
  }
#contact-p{
    font-size: 30px;
}